<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean id="myorg" class="io.mtech.spring.Organization">
		<!-- Passing value as index -->
		<!-- <constructor-arg value="MTECH" index="0" ></constructor-arg> <constructor-arg 
			value="2020" index="1"></constructor-arg> -->
		<!-- Passing value as variable name -->
		<constructor-arg value="MTECH" name="companyName"></constructor-arg>
		<constructor-arg value="2020" name="yearOfIncorporation"></constructor-arg>
	</bean>

</beans>